body {
    /*background: url(https://images.unsplash.com/phtot-1520741412100-24cd6c2832e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4348fc639aed74754c68db44972844f&auto=format&fit=crop&w=1500&q=80);
  background-repeat:no-repeat;
}

div {
backgorund: blue;
border:orange;
boarder-width: thick; /* 10 px */
boarder-style:dotted;

}
p {
    color: yellow;
}
span {
    background-color: red;
    color: black;
}