body {
            background-color:bisque;
            color: blue;
            text-align: center;

        }
p{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color:aliceblue;
            text-align: center;
              background-color: deeppink;
        }
h1 {
        background-color: darkseagreen;
    }
h2 {
        background-color: darkseagreen;
    }

    
    
ul{
        background-color:lightblue;
li {
            color:lightpink
        };
    }