 body {
            background-color:bisque;
            color: blue;
        }
p{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color:aliceblue;
            text-align: center;
        }